<a href="https://colab.research.google.com/github/sunshinebecomesyou/TRUEtalent/blob/main/Final_Branch_Master_SAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# data branch master sap
df = pd.read_excel("/content/250725_BRANCH_MASTER_SAP.XLSX", keep_default_na = False)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_columns',None)
# df = df.replace('', pd.NA)
# df

# data dwh branch bulanan
df_lookup = pd.read_excel("/content/DWH BRANCH 20250630.xlsx", sheet_name="Sheet1", keep_default_na= False)
# df_lookup = df_lookup.replace('', pd.NA)
# df_lookup
# print(df_lookup.columns.tolist())
# menampilkan field tertentu saja
# df[['Nama', 'Umur', 'Kota']]

In [3]:
df_result = pd.merge(
    df,
    df_lookup[['SUBBR', 'MBNAME', 'RGNAME']],
    left_on="Branch ID - Originating Branch of Accoun",
    right_on="SUBBR",
    how='left'
)

df_result['MBNAME'] = df_result['MBNAME'].fillna("#NA")
df_result['RGNAME'] = df_result['RGNAME'].fillna("#NA")
df_result = df_result[['Branch ID - Originating Branch of Accoun','Single-Character Flag','Location of the Branch','Revenue Owner',
           'Business Segment','Changed by','Changed On','Time of change','MBNAME','RGNAME']]
df_result

# filter_2 = df_result[
#     (df_result['Single-Character Flag'] == 'U') &
#     ((df_result['Revenue Owner'] != 140.0) | (df_result['Business Segment'] != 'M'))
# ]
# filter_2
# for col in df_result.columns:
#     print(col)

,Branch ID - Originating Branch of Accoun,Single-Character Flag,Location of the Branch,Revenue Owner,Business Segment,Changed by,Changed On,Time of change,MBNAME,RGNAME
0,1,B,LCTN10,,,BTCADM,2025-07-25,06:38:09,00001 -- KC Ambon (Konsolidasi-MB) ...,P -- Makassar ...
1,10,B,LCTN17,,,BTCADM,2025-07-25,06:38:09,00010 -- KC Blora (Konsolidasi-MB) ...,G -- Semarang ...
2,100,B,LCTN1,,,BTCADM,2025-07-25,06:38:09,00100 -- KC Tasikmalaya (Konsolidasi-MB) ...,F -- Bandung ...
3,1001,S,LCTN15,,,BTCADM,2025-07-25,06:38:09,00059 -- KC Palembang A. Rivai (Konsolidasi-MB...,D -- Palembang ...
4,1006,S,LCTN17,,,BTCADM,2025-07-25,06:38:09,00609 -- KC Semarang A. Yani (Konsolidasi-MB) ...,G -- Semarang ...
...,...,...,...,...,...,...,...,...,...,...
7331,9995,B,,,,BTCADM,2025-07-25,06:38:09,00229 -- Kas Kanpus (Konsolidasi-MB) ...,V -- KAS KANPUS ...
7332,9996,B,,,,BTCADM,2025-07-25,06:38:09,#NA,#NA
7333,9997,B,,,,BTCADM,2025-07-25,06:38:09,#NA,#NA
7334,9998,B,,,,BTCADM,2025-07-25,06:38:09,#NA,#NA
7335,9999,H,,,,BTCADM,2025-07-25,06:38:09,#NA,#NA

In [20]:
# data summary
# df = df[df['Single-Character Flag'] == 'U']
filter_1 = df.groupby(['Single-Character Flag','Revenue Owner','Business Segment'], dropna=False).size().reset_index(name='Jumlah')
filter_1
filter_2 = filter_1[
    (filter_1['Single-Character Flag'] == 'U') &
    ((filter_1['Revenue Owner'] != 140.0) & (filter_1['Business Segment'] != 'M'))
]
filter_2 = filter_2.shape[0]
filter_2

0

In [12]:
today = datetime.today().strftime('%d-%m-%Y')
filename = f"Merge Final Branch Master Sap {today}.xlsx"
df_result.to_excel(filename, index=False)

In [19]:
# filter_2 = df_result.groupby(['Single-Character Flag','Revenue Owner','Business Segment','MBNAME','RGNAME'], dropna=False).size().reset_index(name='Jumlah')
# filter_2
filter_3 = df_result[df_result['MBNAME'] == '#NA']
filter_3
T_Filter3 = filter_3.shape[0]
T_Filter3
# # print(df_result.columns.tolist())

12

In [18]:
# filter_2 = df_result.groupby(['Single-Character Flag','Revenue Owner','Business Segment','MBNAME','RGNAME'], dropna=False).size().reset_index(name='Jumlah')
# filter_2
filter_4 = df_result[df_result['RGNAME']== '#NA']
# filter_4
T_Filter4 = filter_3.shape[0]
T_Filter4
# print(df_result.columns.tolist())

12

In [21]:
# if filter_2 < 1 and T_Filter3 == 12 and T_Filter4 == 12:
#     status = f"âœ… Data Aman, Tidak ada masalah. jumlah Data 	Branch ID = {filter_2}, RGNAME = {T_Filter3}, MBNAME = {T_Filter4}"
# else:
#     status = f"âš ï¸ Terdapat Perbedaan jumlah: Branch ID = {filter_2}, RGNAME = {T_Filter3}, MBNAME = {T_Filter4}"

# laporan = f"""
# ðŸ“Š Ringkasan Status Pengecekan:
# --------------------
# RGNAME kosong : {T_Filter3}
# MBNAME kosong : {T_Filter4}
# Status         : {status}
# """

# print(laporan)

validations = [
    ("Filter_2 harus â‰¥ 1", (filter_2) < 1),
    ("T_Filter3 harus = 12", T_Filter3 == 12),
    ("T_Filter4 harus = 12", T_Filter4 == 12),
]

# Hanya tampilkan kondisi yang salah
invalids = [f"âŒ {msg}" for msg, condition in validations if not condition]

if invalids:
    print("ðŸ“Œ Masalah ditemukan:\n" + "\n".join(invalids))
else:
    print("âœ… Semua kondisi terpenuhi, data aman.")

âœ… Semua kondisi terpenuhi, data aman.